table.paleOrangeRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  position: absolute;
  top:70%;
  left:30%;
}
table.paleOrangeRows td, table.paleOrangeRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleOrangeRows tbody td {
  font-size: 13px;
}
table.paleOrangeRows tr:nth-child(even) {
  background: #FA7F39;
}
table.paleOrangeRows thead {
  background: #E16428;
  border-bottom: 5px solid #FFFFFF;
}
table.paleOrangeRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}

table.paleOrangeRows thead th:first-child {
  border-left: none;
}

table.paleOrangeRows input[type=checkbox] {
	zoom: 1.5;
}

