.Header-header {
  background-color: #363333;
  background: url("/COFFEE-BEANS-YO.jpg") no-repeat center center fixed;
  /*background-size: 1515px 325px; */
  background-size: cover;
/* background-size: auto;
  background-repeat: no-repeat;*/
  padding: 20px;
  padding-bottom: 0px;
  color: white;
}

.Header-title {
  font-family: "Rock Salt";
  font-size: 74px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;

 /* font-size: 1.5em;*/
  height: 215px;
}

.Header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Header-nav > li {
    float: left;
}

.Header-nav > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

.Header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header-selected {
    background: #E16428;
}

.Header-logo {
  height: 250px;
  padding: 35px;
 }