.Order-shop {
	margin: 20px;
	padding: 40px 80px;
	border: solid 1px brown;
}

.Order-shop-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Order-coffee-image {
    width: 100px;
}
