.inline-row {
  margin: auto;
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-container {
  width: 40rem;
  display: flex;
  padding: 0.3rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-block {
  background-color: white;
  border: solid 1px brown;
  height: 4rem;
  width: 10rem;
  margin: 1rem;
}
