.inline-row {
  margin: auto;
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-container {
  width: 40rem;
  display: flex;
  padding: 0.3rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-block {
  display: flex;
  align-items: center;
  background-color: white;
  border: solid 1px brown;
  width: 12rem;
  margin: 1rem;
  padding: 1rem;
}

.user-photo {
  height: 5rem;
  width: 5rem;
}

.user-name {
  margin-left: 2rem;
  font-weight: bold;
}
