.inline-row {
  margin: auto;
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-container {
  width: 40rem;
  display: flex;
  padding: 0.3rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid 1px white;
  margin: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.4rem -0.2rem;
}

.user-photo {
  height: 9rem;
  width: 9rem;
  border-radius: 0.2rem;
}

.coffee-photo {
  width: 9rem;
  border-radius: 0.2rem;
}

.user-name {
  font-weight: bold;
}

.user-selected {
  background: #E16428;
}
